<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{{ year_s }} - {{ dir_path }}</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  
  <body>
    <h1><a href=".">{{ dir_path }}</a></h1>
    
    <p>Generated @ {{ now }} by <a href="{{ app_homepage }}">{{ app_name }}</a> v{{ app_version }}</p>
    
    <h2>Year: {{ year_s }}</h2>
    <table class="list">
      <tr>
        <th class="left">Month</th>
        <th class="right">Revenue</th>
        <th class="right">Expense</th>
        <th class="right">Balance</th>
        <th colspan="{{ categories_available_count }}">{{ categories_available_count }} Categories</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        
        {% for category in categories_available %}
          <th class="right">{{ category }}</th>
        {% endfor %}
      </tr>
      
      <tr>
        <th class="left"><b>TOTAL</b></th>
        <th class="right">{{ revenue_year }}</th>
        <th class="right red">{{ expense_year }}</th>
        <th class="right {{ balance_year_class }}">{{ balance_year }}</th>
        
        {% for category in categories_available %}
          <th class="right {{ categories_year_balance_formatted[category]['class'] }}">{{ categories_year_balance_formatted[category]['balance'] }}</th>
        {% endfor %}
      </tr>
    </table>
    
    <p><img src="year_{{ year_s }}.png"></p>
  </body>
</html>
